body {
  text-align: center;}
div.aj {
  height: 350px;
  width: 250px;
  border: 20px solid black;}
div.brad {
  height: 350px;
  width: 250px;
  background-color: transparent}
div.josh {
  width: 350px;
  height: 250px;
  border: 20px solid black;}
div.gabe {
  width: 350px;
  height: 250px;
  border: 20px solid black;}

