*{
  margin: 0;
  padding: 0;

}

html{

}
body{
  
  /* background-attachment: relative, local; */
 
  width: 960px;
  height: 675px;
  /* display: block;
  position: relative; */
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  /* border: 2px solid black;    */
}

/* #clouds{
  float:right;
  position: absolute;
  z-index: 200;
  top: 3%;
  right: 6%;
} */
.bg-wrapper{
  width: 960px;
  height: 675px;
   display: block;
  position: absolute;  
  border: 2px solid black;
  overflow: hidden;

}
 #bg-beach{

  background: url("./img/bg-beach2.png");
  width: 1961px;
  height: 675px;
  display: block;
  position: absolute;
  /* margin: auto; */
  background-size: 960px 675px;
  background-origin: border-box;
   animation: slide 6s linear infinite;
   animation-fill-mode: backwards;
  }
  
  @keyframes slide{
    from {
      left: 0;
      top: 0px;
    }
    to { 
      left: -960px;
      top: 0;
    }
  }
  @-webkit-keyframes STAR-MOVE {
    from {
      background-position: 0%
    }
    to { 
      background-position: 100%
    }
  }

.word-box-container{
  position: relative;
  z-index: 200;
  width: 960px;
  top: 30%;
  /* padding: ; */
}
#word-box{
  background-color:rgba(95, 187, 245, 0.5);
  color: whitesmoke;
  position: absolute;
  display: inline-block;
  width: 480px;
  height: 100px;
  margin-left: 25%;
  border-radius: 75px 75px 75px 75px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-family:'Cuprum', sans-serif;
  font-size: 75px
  
}

#input-box{
  position: relative;
  z-index: 200;
  width: 960px;
  top: 105%;
}

input{
  background-color:rgba(176, 228, 106, .5);
  color: whitesmoke;
  position: absolute;
  width: 480px;
  height: 100px;
  margin-left: 25%;
  border-radius: 75px 75px 75px 75px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-family:'Cuprum', sans-serif;
  font-size: 50px
}
.button{
  position: relative;
  z-index: 200;
  width: 960px;
  top: 45%;
}

#button {
  z-index: 2;
  height: 100px;
  width: 300px;
  margin-left: 35%;
  top: 50%;
  position: absolute;     
  font-size: 45px;
  border-radius: 20px 20px 20px 20px;
  border-bottom: inset;
  font-family: 'Press Start 2P', cursive;

}
#score-container{
  position: relative;
  top: 15%;
  margin-left: 93%;
  width: 75px;
  height: 75px;
  z-index: 200;
  

}
#timer-container{
  position: relative;
  top: 26%;
  margin-left: 2%;
  width: 75px;
  height: 75px;
  z-index: 200;
}
#timer{
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;

}
#user-score{
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
}

#user-text{
  position: absolute;
  display: none;

  }
  

